.request-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    
  }
  
  .request-form {
    display: flex;
    flex-direction: column;
    
    
    background-color: rgb(207, 193, 193);
    height: 1130px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color:green ;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 50px;
   
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .submit-btn {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    width: 500px;
    margin-left: 40px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
   
  }
  h1{
    font-size: 40px;
    color: green;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .request-form-container {
      padding: 10px;
    }
  
    .form-group {
      margin-bottom: 10px;
    }
  
    .submit-btn {
      padding: 10px 15px;
    }
  }
  