.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 90px;
  height: 800px;
  width: 550px;
  background: rgb(242, 238, 238);
  padding-left: 30px;
  padding-top: 150px;
  border-radius: 20px;
 
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  color: #218838;
}

input {
  width: 500px;
  padding: 8px;
  box-sizing: border-box;
  height: 60px;
  border-radius: 20px;
  background: #d3cece;
}
.back{
  background:rgb(166, 165, 165);
  height: 1500px;
  margin-top: 300px;
}

.button {
  width: 400px;
  background: #218838;
  height: 70px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 30px;
  color: #ebe3e3;
  font-weight: bold;
  font-size: 20px;
  
}

/* button:hover {
 
} */
 .h1{
  font-size: 80px;
  font-weight: bold;
  padding-top: 300px;
  color: rgb(68, 126, 226);
  
 }

@media (max-width: 480px) {
  .h1 {
      font-size: 32px;
  }

  form {
      padding: 15px;
  }

  input, .button {
      height: 45px;
      font-size: 14px;
  }
}